html, body {
    margin: 0;
    height: 100%;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#nav a {
    margin-right: 20px;
}

#nav a.topimage {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}
#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo {
    text-align: center;
}
#searchbarcontainer {
    margin-top: 25px;
    text-align: center;
    position: relative;
}

#search, #voice {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search {
    left: 10px;
}
#voice {
    right: 10px;
}
#searchbar {
    padding-top: 20px;
    padding-bottom: 10px;
    outline: 0;
    width: 600px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    border: 2px solid rgb(201, 195, 195);
}

#searchbar:hover {
    box-shadow: 0 0 10px 2px rgb(206, 204, 204);
}

#buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.botton {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px, 10px;
    cursor: pointer;
    border-radius: 3px;
    background: rgb(236, 226, 226);
    border: 2px solid transparent;
}

.button:hover {
    box-shadow: 0 0 2px 1px black;
    border: 2px solid #eee;
}

#links {
    margin-top: 30px;
    padding-left: 10px;
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
}


footer {
	background: #f2f2f2;
}
footer h4 {
	color: rgba(0,0,0, 0.54);
	font-size: 15px;
	line-height: 39.5px;
	font-weight: 400;
	padding-left: 29px;
	border: 1px solid #eee;
}
footer a {
	color: #5f6368;
	display: inline-block;
	padding: 12px 11.3px;
	font-size: 14px;
}
footer a:hover {
	text-decoration: underline;
}
.links {
	border-top: 1px solid #ddd;
	display: flex;
}
.link-1 {
	padding-left: 18.7px;
	flex: 1;
}
.link-2 {
	padding-right: 18.7px;
} 